
<div class="header">
    <button (click)="handleLogoutUser()" >Logout</button>
</div>
<main class="page trainer-page">
    
    <h1>Your Pokémon</h1>

    <div class="pokemons-div">
        <div class="pokemon-div pop-in" *ngFor="let pokemon of pokemons; index as i">
            <app-pokemon  [pokemon]="pokemon" ></app-pokemon>
            <button (click)="handleRemove(i)">Free</button>
        </div>
    </div>
</main>
