.pokemons-div {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}


.header {
    padding: 0 10%;
    background: #3c5aa6;
}

.header button {
    padding: 5px;
    background: none;
    border: none;
    color: #ffcb05;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.trainer-page h1 {
    color: #ffcb05;
    margin-bottom: 20px;
}


.pokemon-div {
    position: relative;
}

.pokemon-div button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    background: #3c5aa6;
    border: none;
    color: #ffcb05;
    border-radius: 5px;
}

.pokemon-div button:hover {
    background: #2a75bb;
}