
<header class="header">
    <a  routerLink="/catalogue/{{ page }}">
        <h1>Pokémon</h1>
    </a>
    <a *ngIf="user" class="user-icon" routerLink="/trainer"> 
        <h3>{{ user }}</h3>
        <img height="60" class="poke-ball" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="">
    </a>
</header>



