

.header {
    background: #3c5aa6;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #c7a008 4px solid;
    height: 50px;
}

.header a {
    color: #ffcb05;
    text-decoration: none;
}

.header h1 {
    font-family: 'pokemon solid', Arial, Helvetica, sans-serif;
    line-height: 0;
    margin-top: -5px;
}


.user-icon {
    display: flex;
    align-items: center;
    
}

.user-icon h3 {
    color: #3c5aa6;
    background: #c7a008;
    padding: 2px 20px;
    margin-right: -20px;
    border-radius: 20px 0 0 20px;
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;

}