

<main class="page catalogue-page">
    <h1>Pokémon Catalogue</h1>
    <div class="pokemons-div">
        <button class="pokemon-div pop-in" *ngFor="let pokemon of pokemons" (click)="handleAddPokemon(pokemon)">
            <app-pokemon [pokemon]="pokemon" [isCollected]="userPokemonIds.includes(pokemon.id)"></app-pokemon>
        </button>
    </div>
    <div class="page-nav">
        <button [disabled]="!hasPrevious" (click)="handlePreviousPage()">Previous</button>
        <button [disabled]="!hasNext" (click)="handleNextPage()">Next</button>
    </div>
</main>


