



.pokemons-div {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalogue-page h1 {
    color: #ffcb05;
    margin-bottom: 20px;
}

.page-nav {
    margin-top: 20px;
    border-top: 2px #ffcb05 solid;
    border-bottom: 2px #ffcb05 solid;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-nav button {
    width: 100px;
    height: 30px;
}   


.pokemons-div button {
    background: transparent;
    border: none;
    cursor: pointer;
}