
.pokemon-div {
    position: relative;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 18px;
    text-align: center;
    background: white;
    box-shadow: 0 0 5px black;
}

.pokemon-div:hover {
    box-shadow: 0 0 5px #ffcb05;
}


.poke-ball {
    position: absolute;
    right: 20px;
    bottom: 20px;
}