

<div  class="pokemon-div" *ngIf="pokemon">
    <h4> {{pokemon.name}} </h4> 
    <img height="230" width="230" src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png' alt="">
    <img height="60" class="poke-ball" *ngIf="isCollected" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="">
</div>