
.start-page {
    align-items: center;
    height: 60vh;
}

.start-page h1 {
    text-shadow: -5px 0 #3c5aa6, 0 1px #3c5aa6, 1px 0 #3c5aa6, 0 -1px #3c5aa6;
    font-family:  'pokemon solid', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    color: #ffcb05;
}

.input {
    width: calc(100% - 180px);
    padding: 10px 30px;
    padding-right: 15px;
    border: #c7a008 4px solid;
    background: white;
    font-size: 30px;
    box-shadow: 0 0 5px black;
    border-radius: 50px 0 0 50px;
}

.input-error {
    font-weight: bold;
    margin-top: 15px;
    padding: 5px 20px;
    background: white;
    box-shadow: 0 0 5px black;
    border: #CC0000 4px solid;
    border-radius: 50px;
    color: #CC0000; 
}

.log-in-button {
    width: 180px;
    padding: 10px 30px;
    padding-left: 15px;
    background: #3c5aa6;
    color: #ffcb05;
    border: #c7a008 4px solid;
    box-shadow: 0 0 5px black;
    font-size: 30px;
    border-radius: 0 50px 50px 0;
}


.input.ng-invalid.ng-touched {
    border-color: #CC0000;
}

.input-div {
    display: flex;
}