
<main class="page start-page">
    <div>
        <h1>Pokémon Trainer</h1>
        <form #userForm="ngForm" (ngSubmit)="handleOnSubmit(userForm.value.user, userForm.valid)">
            <div class="input-div">
                <input required ngModel class="input" type="text" name="user" placeholder="Enter username">
                <button class="log-in-button" type="submit">Log in</button>
            </div>
            <div class="input-error" *ngIf="!userForm.valid && (userForm.touched || userForm.submitted)">You need to enter a user</div>
        </form>
    </div>
</main>
