@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #2a75bb;
}

.page {
    width: 80%;
    padding: 40px 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}




.pop-in {
    animation: popin 200ms ease-in;
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: scale(0) translateY(50%);
    } 
    80% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}